parameters:
    mode: ~
    testNamespace: ~

services:
    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Config\TestConfig
        arguments:
            mode: %mode%
            testNamespace: "testNamespace"

        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rule\FriendMethodCallRule
        tags:
        - phpstan.rules.rule

        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rule\FriendNewCallRule
        tags:
        - phpstan.rules.rule

        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rule\FriendStaticCallRule
        tags:
        - phpstan.rules.rule

        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rule\PackageMethodCallRule
        tags:
        - phpstan.rules.rule

        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rule\PackageNewCallRule
        tags:
        - phpstan.rules.rule

        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rule\PackageStaticCallRule
        tags:
        - phpstan.rules.rule
