parameters:

    phpLanguageExtensions:
        mode: 'none'
        testNamespace: null

services:
    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Config\TestConfig
        arguments:
            mode: %phpLanguageExtensions.mode%
            testNamespace: %phpLanguageExtensions.testNamespace%

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\FriendMethodCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\FriendNewCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\FriendStaticCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\PackageMethodCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\PackageNewCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\PackageStaticCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\TestTagMethodCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\TestTagNewCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\TestTagStaticCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\InjectableVersionRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\NamespaceVisibilityMethodCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\NamespaceVisibilityNewCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\NamespaceVisibilityStaticCallRule
        tags:
        - phpstan.rules.rule

    -
        class: DaveLiddament\PhpstanPhpLanguageExtensions\Rules\OverrideRule
        tags:
        - phpstan.rules.rule


parametersSchema:
    phpLanguageExtensions: structure([
        testNamespace: schema(string(), nullable())
        mode: schema(anyOf('none', 'className', 'namespace'))
    ])

