parameters:
    level: max
    paths:
    - src
    - tests
    - build
    - e2e
    excludePaths:
    - tests/Rules/data
    - e2e/data

services:

-
    class: DaveLiddament\PhpstanPhpLanguageExtensions\Build\PHPStan\Rules\CheckRuleIsInExtension
    tags:
    - phpstan.rules.rule